*{
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    justify-content: space-between ;
    background: lightslategrey;
    min-height: 100vh;
}
.slide{
	position: absolute;
	background-color: none;
    background: none;
	transition: 0.5s ease;
	transform: translateY(-180px);
    margin-left: 175px;
}
nav{
    position: absolute;
    top: 0; 
    right: 0;
    height: auto;
    width: 650px;
    background: rgb(156, 187, 201);
    border-radius: 20px;
    padding: 10px;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
nav ul {
    display: flex;
}
nav ul li{
    list-style: none;
    display: inline-block;
    padding: 5px 10px;
    margin: 10px;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: color 0.5s;
}
nav ul li::after{
    content: '';
    background: rgba(100, 165, 165, 0.863);
    width: 100%;
    height: 130%;
    border-radius: 20px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0;
    transition: top 0.5s, opacity 0.5s;
}
nav ul li:hover{
    color: white;
}
nav ul li:hover::after{
    top: 50%;
    opacity: 1;
}
ul li a{
    color: black;
    text-align: center;
    text-decoration: none;
}
ul li a i{
    width: 30px;
    text-align: center;
    color: black;
}
input{
    display: none;
	visibility: hidden;
}
.toggle{
    position: absolute;
	height: 68px;
	width: 70px;
    top: 20px;
	left: 15px;
	cursor: pointer;
	border-radius: 10px;
	background-color: rgb(185, 182, 182);
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.toggle .common{
	position: absolute;
	height: 8px;
	width: 50px;
	background-color: black;
	border-radius: 50px;
	transition: 0.3s ease;
}
.toggle .top_line{
	top: 30%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.toggle .middle_line{
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.toggle .bottom_line{
	top: 70%;
	left: 50%;
	transform: translate(-50%,-50%);
}
input:checked ~ .toggle{
    border-radius: 20px;
    background: rgb(156, 187, 201);
}
input:checked ~ .toggle .top_line{
	left: 5px;
	top: 30px;
	width: 60px;
	transform: rotate(45deg);
}
input:checked ~ .toggle .middle_line{
	left: 5px;
	top: 30px;
	width: 60px;
	transform: rotate(-45deg);
}
input:checked ~ .toggle .bottom_line{
	opacity: 0;
	transform: translateX(-20px);
}
input:checked ~ .slide{
	transform: translateX(0);
	box-shadow: 0 0 15px rgba(0,0,0,0.5);
}
.main{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 60px;
    margin-top: 100px;
}
.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 1200px;
    transform-style: preserve-3d;
}
.container .box{
    position: relative;
    height: 400px;
    width: 300px;
    margin: 40px;
    background: #232323;
    border-radius: 20px;
    transform-style: preserve-3d; 
}
.box img {
    height: 200px;
    width: 200px;
    transform: scale(2);
    margin-top: 50px;
    margin-left: -25px;
}
.container .box .visit{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform-style: preserve-3d;
    transform: translate3d(-50%,0,75px);
    background: #000;
    padding: 20px 65px;
    border-radius: 30px;
    transition: 0.5s;
    opacity: 0;
    z-index: 10;
    text-decoration: none;
}
.container .box:hover .visit{
    bottom: 100px;
    opacity: 1;
    color: azure;
    font-size: x-large;
}
.container .box::before{
    content: "MAX PAYNE 3";
    position: absolute;
    text-align: center;
    transform-style: preserve-3d;
    transform: translate3d(0,0,75px);
    top: 80px;
    left: 20px;
    font-size: 65px;
    font-weight: 900;
    color: #fff;
    opacity: 0;
    transition: 0.5s;
}
.container .box:hover::before,
.container .box:hover::after{
    opacity:  0.7;
    color: cyan;
    z-index: 10;
}
.container .box .name{
    position: absolute;
    top: 10px;
    left: 0;
    text-align: center;
    color: #fff;
    width: 100%;
    transform-style: preserve-3d;
    transform: translate3d(0,0,75px);
    transition: 0.5s;
    opacity: 0;
    z-index: 10;
}
.container .box:hover .name{
    top: 10px;
    opacity: 1;
    color: brown;
} 
.container .box:hover .name{
    bottom: 30px;
    opacity: 1;
} 
.container .box .game{
    position: absolute;
    top: 50px;
    left: 80px;
    max-width: 150px;
    transition: 0.5s;
    z-index: 11;
    transform-style: preserve-3d;
}
.container .box1{
    position: relative;
    height: 400px;
    width: 300px;
    margin: 40px;
    background: #232323;
    border-radius: 20px;
    transform-style: preserve-3d;
}
.container .box1 .visit{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform-style: preserve-3d;
    transform: translate3d(-50%,0,75px);
    background: #000;
    padding: 20px 65px;
    border-radius: 30px;
    transition: 0.5s;
    opacity: 0;
    z-index: 10;
    text-decoration: none;
}
.container .box1:hover .visit{
    bottom: 130px;
    opacity: 1;
    color: azure;
    font-size: x-large;
}
.container .box1::before{
    content: "VALORANT";
    position: absolute;
    text-align: center;
    transform-style: preserve-3d;
    transform: translate3d(0,0,75px);
    top: 80px;
    left: -30px;
    font-size: 65px;
    font-weight: 900;
    color: #fff;
    opacity: 0;
    transition: 0.5s;
}
.container .box1:hover::before,
.container .box1:hover::after{
    opacity:  0.7;
    color: cyan;
    z-index: 10;
}
.container .box1 .name{
    position: absolute;
    top: 10px;
    left: 0;
    text-align: center;
    color: #fff;
    width: 100%;
    transform-style: preserve-3d;
    transform: translate3d(0,0,75px);
    transition: 0.5s;
    opacity: 0;
    z-index: 10;
}
.container .box1:hover .name{
    top: 10px;
    opacity: 1;
    color: brown;
} 
.container .box1:hover .name{
    bottom: 30px;
    opacity: 1;
} 
.container .box1 .game1{
    position: absolute;
    top: 49px;
    left: 60px;
    max-width: 180px;
    transition: 0.5s;
    z-index: 11;
    transform-style: preserve-3d;
}
.container .box2{
    position: relative;
    height: 400px;
    width: 300px;
    margin: 40px;
    background: #232323;
    border-radius: 20px;
    transform-style: preserve-3d;
}
.box2 img {
    height: 400px;
    margin-top: -50px;
    margin-left: -15px;
}
.container .box2 .visit{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform-style: preserve-3d;
    transform: translate3d(-50%,0,75px);
    background: #000;
    padding: 20px 65px;
    border-radius: 30px;
    transition: 0.5s;
    opacity: 0;
    z-index: 10;
    text-decoration: none;
}
.container .box2:hover .visit{
    bottom: 100px;
    opacity: 1;
    color: azure;
    font-size: x-large;
}
.container .box2::before{
    content: "PUBG";
    position: absolute;
    text-align: center;
    transform-style: preserve-3d;
    transform: translate3d(0,0,75px);
    top: 150px;
    left: 60px;
    font-size: 65px;
    font-weight: 900;
    color: #fff;
    opacity: 0;
    transition: 0.5s;
}
.container .box2:hover::before,
.container .box2:hover::after{
    opacity:  0.7;
    color: cyan;
    z-index: 10;
}
.container .box2 .name{
    position: absolute;
    top: 10px;
    left: 0;
    text-align: center;
    color: #fff;
    width: 100%;
    transform-style: preserve-3d;
    transform: translate3d(0,0,75px);
    transition: 0.5s;
    opacity: 0;
    z-index: 10;
}
.container .box2:hover .name{
    top: 10px;
    opacity: 1;
    color: brown;
} 
.container .box2:hover .name{
    bottom: 30px;
    opacity: 1;
} 
.container .box2 .game2{
    position: absolute;
    top: 50px;
    left: 80px;
    max-width: 150px;
    transition: 0.5s;
    z-index: 11;
    transform-style: preserve-3d;
}
.container .box3{
    position: relative;
    height: 400px;
    width: 300px;
    margin: 40px;
    background: #232323;
    border-radius: 20px;
    transform-style: preserve-3d;
    
}
.container .box3 .visit{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform-style: preserve-3d;
    transform: translate3d(-50%,0,75px);
    background: #000;
    padding: 20px 65px;
    border-radius: 30px;
    transition: 0.5s;
    opacity: 0;
    z-index: 10;
    text-decoration: none;
}
.container .box3:hover .visit{
    bottom: 100px;
    opacity: 1;
    color: azure;
    font-size: x-large;
}
.container .box3::before{
    content: "APEX LEGEND";
    position: absolute;
    text-align: center;
    transform-style: preserve-3d;
    transform: translate3d(0,0,75px);
    top: 80px;
    left: 20px;
    font-size: 65px;
    font-weight: 900;
    color: #fff;
    opacity: 0;
    transition: 0.5s;
}
.container .box3:hover::before,
.container .box3:hover::after{
    opacity:  0.7;
    color: cyan;
    z-index: 10;
}
.container .box3 .name{
    position: absolute;
    top: 10px;
    left: 0;
    text-align: center;
    color: #fff;
    width: 100%;
    transform-style: preserve-3d;
    transform: translate3d(0,0,75px);
    transition: 0.5s;
    opacity: 0;
    z-index: 10;
}
.container .box3:hover .name{
    top: 10px;
    opacity: 1;
    color: brown;
} 
.container .box3:hover .name{
    bottom: 30px;
    opacity: 1;
} 
.container .box3 .game3{
    position: absolute;
    top: 60px;
    left: 60px;
    max-width: 162px;
    transition: 0.5s;
    z-index: 11;
    transform-style: preserve-3d;
}
.container .box4{
    position: relative;
    height: 400px;
    width: 300px;
    margin: 40px;
    background: #232323;
    border-radius: 20px;
    transform-style: preserve-3d;
    
}
.box4 img {
    transform: scale(1.2);
}
.container .box4 .visit{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform-style: preserve-3d;
    transform: translate3d(-50%,0,75px);
    background: #000;
    padding: 20px 65px;
    border-radius: 30px;
    transition: 0.5s;
    opacity: 0;
    z-index: 10;
    text-decoration: none;
}
.container .box4:hover .visit{
    bottom: 100px;
    opacity: 1;
    color: azure;
    font-size: x-large;
}
.container .box4::before{
    content: "FREE FIRE";
    position: absolute;
    text-align: center;
    transform-style: preserve-3d;
    transform: translate3d(0,0,75px);
    top: 80px;
    left: -15px;
    font-size: 65px;
    font-weight: 900;
    color: #fff;
    opacity: 0;
    transition: 0.5s;
}
.container .box4:hover::before,
.container .box4:hover::after{
    opacity:  0.7;
    color: cyan;
    z-index: 10;
}
.container .box4 .name{
    position: absolute;
    top: 10px;
    left: 0;
    text-align: center;
    color: #fff;
    width: 100%;
    transform-style: preserve-3d;
    transform: translate3d(0,0,75px);
    transition: 0.5s;
    opacity: 0;
    z-index: 10;
}
.container .box4:hover .name{
    top: 10px;
    opacity: 1;
    color: brown;
} 
.container .box4:hover .name{
    bottom: 30px;
    opacity: 1;
} 
.container .box4 .game4{
    position: absolute;
    top: 80px;
    left: 40px;
    max-width: 250px;
    transition: 0.5s;
    z-index: 11;
    transform-style: preserve-3d;
}